body,
html {
    height: 100%;
    min-height: 500px;
    background-image: url(landing-page.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


h1 {
    margin: 0px;
    padding: 0px;
    text-transform: uppercase;
    color: lightgray;
    text-align: center;
    margin-bottom: 13%;

}

.btn-primary,
.btn-primary:focus,
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:active:focus {
    background-color: orangered;
    text-transform: uppercase;
    border: 0px solid orangered;
    font-size: 20px;
    border-radius: 300px;
    height: 58px;
    width: 202px;
    box-shadow: none;
    color: white;
}

.btn-primary:active:focus {
  color: #ffffff; 
  background-color: #161617; 
  border-color: #494F57;
      background-image: none;
}

hr {
    width: 65px;
    border: 2px solid orangered;

}
